/* Custom thin scrollbar khusus sidebar filter (w-1/5) */
.w-1\/5::-webkit-scrollbar {
    width: 6px;
}
.w-1\/5::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}
.w-1\/5::-webkit-scrollbar-track {
    background: transparent;
}

.w-1\/5 {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #888 #0000; /* Firefox */
}
